*{
    padding: 0;
    margin: 0;
}
.navbar{
    display: flex;
    /* height: 73px; */
    /* padding: ; */
    width: 100%;
    background-color: #44423ECC;
    padding: 24px;
    padding-top: 24px;
    padding-right: 0px;
    font-size: 25px;
    position: sticky;
    top: 0px;
}
.navbar p{
    display: inline-block;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
a{
    text-decoration: underline;
    font-weight: bold;
    color: #FFFFFF;
    font-family: "Geist:Regular", sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    margin-left: 60px;
}
#home{
    margin-left: 750px;
}
#name{
    color: black;
    font-size: 135px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-weight: lighter;
}

.photo{
    height: 400px;
    width: 100%;
    /* background-color: black; */
    background-image: linear-gradient(rgba(0,0,0,0.5)), url("1.jpg");
    background-size: cover;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: "EB Garamond",'Times New Roman', Times, serif, sans-serif;
    padding-top: 250px;

}
.story{
    height: 600px;
    width: 500px;
    background-color: black;
    display: inline-block;
    margin-top: 48px;
    margin-left: 180px;
    margin-right: 25px;
    border-radius: 30px;

    /* font related */
    color: white;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;

    background-image: linear-gradient(rgba(0,0,0,0.5)), url("2.png");
    background-size: cover;
}
.details{
    height: 600px;
    width: 500px;
    background-color: black;
    display: inline-block;
    border-radius: 30px;
    
    
    /* font related */
    color: white;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;

    background-image:linear-gradient(rgba(0,0,0,0.5)), url("3.jpg");
    background-size: cover;
}
.rsvp{
    height: 600px;
    width: 500px;
    background-color: black;
    display: inline-block;
    margin-top: 48px;
    margin-left: 180px;
    margin-right: 25px;
    border-radius: 30px;
    
    
    /* font related */
    color: white;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    /* padding-top: 400px; */


    background-image: linear-gradient(rgba(0,0,0,0.5)),url("4.jpg");
    background-size: cover;
}
.registry-panel{
    height: 600px;
    width: 500px;
    background-color: black;
    display: inline-block;
    border-radius: 30px;

    
    
    /* font related */
    color: white;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    text-align:center;
    font-size: 20px;
    /* margin-top :0; */
    /* padding-top: 400px; */
    background-image: linear-gradient(rgba(0,0,0,0.5)),url("5.jpg");
    background-size: cover;
}
.text{
    margin-top: 290px;
}


.registry{
    height: 100px;
    background-color: black;
    margin-top: 40px;
    background-image:linear-gradient(to bottom,rgba(0,0,0,0.5) ), url("6.jpg");
    background-size: cover;
    padding: 298px;

    color: white;
    text-align: center;

    

}
.registry h3{
    font-size: 32px;
    margin-bottom: 10px;
}
.registry p{
    margin-bottom: 20px;
}

.registry button{
    size: 50px;
    width: 250px;
    height: 40px;
    color: #EEEEEB;
    background-color: #49463D;
    border: none;
    border-radius: 50px;
}
.footer{
    height: 50px;
    background-color: #E1DBCB;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding: 80px; 
    font-size: larger;
}